---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="CarHub" id="compatibility">
  <Fragment slot="lead">
    Mach aus deinem gebrauchten Auto <span class="text-primary"
      >bares Geld!</span
    >
    {" "}
    <br />
    <br />
    <span>Schnell, einfach und Stressfrei</span>
  </Fragment>
</ContentSection>
